.is-ghost {
  background-color: transparent;
}

@mixin background-color-utils {
  @each $name, $color in $theme-colors {
    .bg-#{$name} {
      background-color: $color !important;
    }
  }
}

.bg-gradient-blue {
  background: rgb(0, 93, 163);
  background: radial-gradient(circle, rgba(0, 93, 163, 1) 0%, rgba(0, 3, 6, 1) 100%);
}

@include background-color-utils;
