
/** Abstracts **/
@import './abstracts/abstracts';

/** Mixins **/
@import './mixins/mixins';

/** Utils **/ 
@import './utils/utils';

/** Typography **/
@import './typography/typography';

/** Layouts **/
@import './layouts/layouts';

/** Components **/
@import './components/components';

body,
#root,
#App {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#App {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow-x: hidden;
  width: 100%;


  .site-header {
    grid-area: header;
  }

  .main-container,
  .admin-container {
    grid-area: main;
  }

  .site-footer {
    grid-area: footer;
  }
}
