
/** Abstracts **/
@import './abstracts/abstracts';

/** Mixins **/
@import './mixins/mixins';

/** Utils **/ 
@import './utils/utils';

/** Typography **/
@import './typography/typography';

/** Layouts **/
@import './layouts/layouts';

/** Components **/
@import './components/components';

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#root {
  height: 100%;
  
  width: 100%;
}

#App {
  height: 100%;
  overflow-x: hidden;
  
  width: 100%;

  .main-container,
  .admin-container {
    position: relative;
  }
}
