
ul.socials {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;

    &.primary {
        * {
            color: theme-color(primary);
            transition: color .5s;

            > svg {
                stroke-width: 10px;
                stroke: theme-color(text-primary);
            }
        }

        > li:hover * {
            color: rgba(theme-color(primary), .6);
            transition: color .5s;
        }
    }

    &.dark {
        * {
            color: theme-color(text-primary);
            transition: color .5s;
        }

        > li:hover * {
            color: rgba(theme-color(text-primary), .6);
            transition: color .5s;
        }
    }

    &.light {
        * {
        color: theme-color(text-light);
        transition: color .5s;
        }
        > li:hover * {
            color: rgba(theme-color(text-light), .6);
            transition: color .5s;
        }
    }


    > li {
        float: left;
    }

    > li:not(:first-child) {
        margin-left: .5rem;
    }
}