html,
body {
padding: 0;
margin: 0;
}

html,
body {
height: 100%;
}

*, ::before, ::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/** react-date-picker **/

.react-date-picker__wrapper {
    border: none!important;

    &:focus, input:focus, button:focus {
        outline: none;
    }
}