
.result-filter {
  background-color: transparent;
  margin: 0;

  .ant-layout-sider-zero-width-trigger {
    @include shadow-box-light();
    background-color: rgba(theme-color(primary), 0.75);
    color: theme-color(light);
    top: 0.5rem;
  }

  .ant-form-item-label > label {
    color: theme-color(primary);
    font-weight: 600;
  }

  .filter-info {
    margin-bottom: 0.5rem;
    width: 100%;

    > .filter-results {
      display: flex;
      flex-flow: row;
      justify-content: center;

      div {
        margin: 3rem 0.7rem 1rem 0;
        text-align: center;

        > h4 {
          font-size: 2rem;
          line-height: 0;
        }

        > span {
          color: theme-color(muted);
          font-size: 0.9rem;
        }
      }
    }
  }

  > .filters {
    .ant-form-item-label {
      font-weight: 700;
    }
  }
}

@include respond-above(sm) {
  .result-filter {
    padding: 0.5rem;
  }
}
