
// ResultHeader
@import './ResultHeader';

// ResultFilter
@import './ResultFilter';

// ResultContent
@import './ResultContent';

.result-manager {
  background-color: transparent;
}

.result-wrapper {
  margin-left: 1rem;

  @include respond-below(md) {
    margin-left: 0;
  }
}
