.ant-layout {
  min-height: auto !important;
}

.admin-content,
.main-content {
  margin: 0;
}

.main-container {
  > .ant-layout {
    background-color: transparent;
  }
}
  
@include respond-above(md) {
  .admin-container {
    padding: 0 2rem;
  
    .admin-content {
      min-height: 100vh;
      padding: 2rem;
    }
  }
  
  .main-container {
    padding: 0 2rem;
  }
}

/* AdminLayout */
@import './AdminLayout';

/* MainLayout */
@import './MainLayout';
