
.media-image {
  border: 1px solid style-color(border-light);
  border-radius: theme-structure(border-radius);

  .ant-image {
    align-self: center;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 5;

    > img {
      height: 100%;
      object-fit: scale-down;
      object-position: center center;
      width: 100%;
    }
  }

  .image-details {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.875);
    bottom: -55px;
    color: theme-color(text-light);
    display: flex;
    flex-flow: column;
    height: 55px;
    padding: 0.3rem 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
  }

  &:hover {
    .image-details {
      bottom: 0;   
    }
  }
}
