

.media-gallery-wrapper {
  background-color: theme-color(light);
  min-height: 100vh;

  .media-gallery {
    justify-content: center;

    @include respond-above(sm) {
      justify-content: flex-start;
    }

    > .ant-col {
      padding: 0.5rem;
    }
        
  }
}
