.media-header {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  padding-bottom: 0.5rem;

  .header-title {
    align-items: center;
    display: flex;
    flex-flow: row;

    > .path {
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0 0 0.1rem 0.5rem;
      text-transform: uppercase;

      > span:not(:last-child)::after {
        content: ' / ';
        white-space: pre;
      }

      > span:last-child {
        font-weight: 300;
      }
    }
  }

  .header-sub {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    height: 48px;
    min-height: 48px;
    padding: 0.5rem 1.5rem;
    position: relative;

    .header-sub-inner {
      height: 100%;
      width: 100%;

      .left,
      .right {
        display: flex;
        flex-flow: row;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        > * {
          margin: 0 0.25rem;
        }
                
      }

      .left {
        left: 0;
      }
    
      .right {
        right: 0;
      }
    }

        
  }
}

.header-sub,
.library-wrapper {
  background-color: theme-color(light);
}
