

.new-folder {
  position: relative;

  .form-popup {
    background-color: theme-color(light);
    border: 1px solid;
    border-color: style-color(border-light);
    border-radius: theme-structure(border-radius);
    left: -50%;
    padding: 1rem;
    position: absolute;
    top: 100%;
    transform: translateX(25%);
    z-index: 1000;

    &.hide {
      display: none;
    }
  }
}
