

.ant-breadcrumb {
    align-self: center;
    span {

        a, * {
            text-transform: capitalize;
            color: rgba(theme-color('light'), .45);   
        }

        a:hover {
            color: theme-color('primary');
        }

        &:last-child a {
            color: rgba(theme-color('light'), .85);
        }
    }

}