
.admin-landing {
  section {
    @include shadow-box-light();
    background-color: theme-color(light);
    position: relative;

    &.full-height {
      height: 100%;
    }
        
    &:not(.no-border) {
      border: 1px solid style-color(border-light);
      border-radius: theme-structure(border-radius);
    }

    .section-header {
      margin-bottom: -0.5rem;
    }

    .section-title {
      padding: 1rem 0.5rem;
    }

    .section-content:not(.no-pad) {
      padding: 1rem 0.5rem;
    }
  }

  .section-img {
    background-image: url('/resources/patterns/tech_pattern.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}
