
.breadcrumbs-wrapper {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row;
  justify-content: flex-start;
  padding: 0.5rem 0;
    

  > .ant-breadcrumb {
    .ant-breadcrumb-link {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
