
.event-item {
  border: 1px solid style-color(border-light);
  display: flex;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  overflow-x: hidden;
  position: relative;
  transition: 0.3s ease-in-out;

  &:hover {
    border-color: theme-color(primary-hover);
    transition: 0.3s ease-in-out;
  }

  .event-image {
    min-height: 116px;
    min-width: 116px;
    overflow: hidden;
    padding: 0.5rem;

    > img {
      align-self: center;
      height: 100px;
      object-fit: contain;
      object-fit: contain;
      width: 100px;
    }
  }

  .description-wrapper {
    align-items: center;
    align-self: stretch;
    border-left: 1px solid style-color(border-light);
    display: inline-flex;
    padding: 0.5rem;
  }

  .event-description {
    .ant-descriptions-title {
      font-size: 1.1rem;
      font-weight: 500;
      overflow-wrap: break-word;
      white-space: normal;
      word-break: break-all;
      word-break: break-word;
      word-wrap: break-word;
    }

    span.type {
      font-size: 0.9rem;
      font-weight: 300;
      text-transform: uppercase;
      @include respond-below(md) {
        display: none;
      }
    }
        
    .ant-descriptions-item-label {
      align-items: center;
      color: theme-color(primary);
    }
        
  }
}
