
.event-card {
  align-items: stretch;
  border: 2px solid style-color(border-light);
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 100%;

  &:hover {
    border-color: rgba(theme-color(primary-hover), 0.5);
    transition: 0.3s ease-in-out;

    &.scale {
      transform: scale(1.05);
    }
  }

  .card-header {
    position: relative;
    width: 100%;

    img.cover {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 200px;
      object-fit: cover;
      width: 100%;
    }

    img.logo {
      background-color: #fff;
      border: 2px solid style-color(border-light);
      border-radius: 4px;
      bottom: 4px;
      height: 100px;
      left: 4px;
      object-fit: contain;
      position: absolute;
      width: 100px;
    }
  }

  .card-body {
    padding: 0.5rem;

    .info {
      color: theme-color(muted);
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.5rem;

      > span {
        .anticon {
          color: theme-color(primary);
          margin-right: 0.25rem;
        }
      }

      > span:not(:first-child) {
        padding: 0 0.5rem;
      }
    }

    .type {
      color: theme-color(text-primary);
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0.25rem;
    }

    .title {
      color: theme-color(primary-dark);
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
    }
  }
}
