.site-footer {
  background: theme-color(dark);
  border-top: 1px solid rgba(200, 200, 200, 0.4);

  * {
    &:not(svg) {
      color: theme-color('text-light');
      font-size: 1rem;
    }
  }
  
  section {
    margin-bottom: 0.5rem;
  
    .section-title {
      color: theme-color('text-light');
      font-size: 1.15rem;
    }

    .section-content {
      width: 100%;

      * {
        color: rgba(theme-color('text-light'), 0.815);
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
        
    }

    &.partner-section .section-content .partners-wrapper {
      
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding: 0 0.75rem;

      .partner { 
        align-self: center;
        flex: 0 1 50%;

        > img {
          object-fit: contain;
          width: 100%;
        }
      }
      
      
    }
  
    &.contact-section .section-content ul {
      > li {
        span {
          font-weight: 700;
        }
      }
      
    }
  }
  
  .copyrights {
    border-top: 1px solid rgba(200, 200, 200, 0.1);
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    padding-top: 1rem;
    text-align: center;
  }
}

@include respond-above(sm) {
  .partner-section .section-title {
    text-align: center;
  }
}
