

.frontpage-wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1 1 100%;

  .ant-layout {
    background-color: transparent;
    background-image: url('/resources/patterns/dots_pattern.png');
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  section.events {
    align-items: center;
    // background-image: url('/resources/patterns/dots_pattern.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    display: flex;
    flex: 1 1 100%;
    min-height: 100px;
    padding: 0.5rem 0;

    @include respond-above(sm) {
      padding: 1rem;
    }
    

    > .events-wrapper {
      z-index: 5;
    }
  }

  .content-wrapper {

    @include respond-above(sm) {
      border-top-left-radius: theme-structure(border-radius);
      border-top-right-radius: theme-structure(border-radius);
      padding: 1rem;
    }
  }

  .container section {
    @include shadow-box();
    background-color: theme-color(light);
    border: 1px solid style-color(border-light);
    border-radius: theme-structure(border-radius);
    position: relative;

    .section-header {
      background-image: url('/resources/patterns/tech_pattern.png');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: contain;
      border-bottom: 1px solid rgba(theme-color(primary), 0.75);
    }

    .section-title {
      font-weight: bold;
      padding: 1rem 0.5rem;
    }

    &.jobs {
      .job-item:not(:hover) {
        border-left: transparent;
        border-right: transparent;
      }
    }

    &.contact {
      overflow: hidden;
      width: 100%;

      .map-wrapper {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      .contact-overlay {
        align-items: center;
        background-color: rgba(theme-color(dark), 0.75);
        display: none;
        flex-flow: row;
        height: 100%;
        justify-content: center;
        left: 0;
        min-width: 300px;
        position: absolute;
        top: 0;
        width: 20%;

        @include respond-above(md) {
          display: flex;
        }
                
                

        .section-main {
          margin: 0 1rem;

          > img.icon {
            object-fit: contain;
            width: 100px;
          }
        }
                
        .section-title {
          color: theme-color(light);
        }
      }
    }

    &.student-organization {
      border-radius: theme-structure(border-radius);
      max-height: 300px;
      overflow: hidden;
      width: 100%;

      > a {
        display: block;
        position: relative;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 100%;

        img.cover {
          border-radius: theme-structure(border-radius);
          max-height: 300px;
          object-fit: cover;
          object-position: center;
          width: 100%;
                    
        }

        .overlay {
          align-items: center;
          background-color: transparent;
          border-radius: theme-structure(border-radius);
          display: flex;
          height: 100%;
          justify-content: center;
          left: 0;
          position: absolute;
          top: 0;
          transition: 0.3s ease-in-out;
          width: 100%;
          z-index: 1000;

          > * {
            color: transparent;
            transition: 0.3s ease-in-out;
          }
        }

        &:hover .overlay {
          background-color: rgba(0, 0, 0, 0.55);

          > * {
            border-bottom: 1px solid theme-color(light);
            color: theme-color(light);
          }
        }
      }
            
    }
  }
}
