

.frontpage-wrapper {
  section {
    @include shadow-box-light();
    background-color: theme-color(light);
    position: relative;

    &:not(.no-border) {
      border: 1px solid style-color(border-light);
      border-radius: theme-structure(border-radius);
    }

    .section-title {
      font-weight: bold;
      padding: 1rem 0.5rem;
    }

    &.jobs {
      .job-item:not(:hover) {
        border-left: transparent;
        border-right: transparent;
      }
    }

    &.contact {
      width: 100%;

      .map-wrapper {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      .contact-overlay {
        align-items: center;
        background-color: rgba(theme-color(dark), 0.75);
        display: none;
        flex-flow: row;
        height: 100%;
        justify-content: center;
        left: 0;
        min-width: 300px;
        position: absolute;
        top: 0;
        width: 20%;

        @include respond-above(md) {
          display: flex;
        }
                
                

        .section-main {
          margin: 0 1rem;

          > img.icon {
            object-fit: contain;
            width: 100px;
          }
        }
                
        .section-title {
          color: theme-color(light);
        }
      }
    }

    &.student-organization {
      max-height: 300px;
      width: 100%;

      > a {
        display: block;
        position: relative;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 100%;

        img.cover {
          max-height: 300px;
          object-fit: cover;
          object-position: center;
          width: 100%;
                    
        }

        .overlay {
          align-items: center;
          background-color: transparent;
          display: flex;
          height: 100%;
          justify-content: center;
          left: 0;
          position: absolute;
          top: 0;
          transition: 0.3s ease-in-out;
          width: 100%;
          z-index: 1000;

          > * {
            color: transparent;
            transition: 0.3s ease-in-out;
          }
        }

        &:hover .overlay {
          background-color: rgba(0, 0, 0, 0.55);

          > * {
            border-bottom: 1px solid theme-color(light);
            color: theme-color(light);
          }
        }
      }
            
    }
  }
}
