.site-header {
  background-color: theme-color(light);
  border-bottom: 2px solid style-color(border-light);
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  position: relative;
  z-index: 1000;
}
