
.member-card-wrapper {
  min-width: 100%;

  &.has-image {
    max-width: 300px;
    min-width: auto;
    padding: 2rem !important;

    .member-card {
      min-height: 300px;
    }
  }
    
    
}

.member-card {

  @include respond-below(md) {
    padding: 0 !important;
  }

  .card-header {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;

    > .ant-image {
      height: 175px;


      > img.member-profile {
        height: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }
  }

  .card-body {
    padding: 0 0.25rem;
    word-break: break-all;
    word-wrap: break-word;

    .member-name {
      margin: 0.5rem 0 0.1rem;
    }

    ul.member-details {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
