
.nav-menu {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @include respond-below(md) {
    padding: 0 15px;
  }

  .navigation-toggler {
    background-color: transparent;
    border: 1px solid;
    border-color: theme-color(primary);
    border-radius: 2px;
    color: theme-color(primary);
    cursor: pointer;
    outline: none;
    transition: color 0.3s, border-color 0.3s;

    &:hover,
    &:active,
    &:focus {
      border-color: theme-color(primary-hover);
      color: theme-color(primary-hover);
    }
  }

  a.nav-brand {
    display: inline-block;
    padding: 0.5rem 0;
    white-space: nowrap;

    @include respond-below(md) {
      img {
        width: 150px;
      }
      
    }
  }

  .nav-bar-wrapper:not(.show) {
    display: none;
  }

  .nav-bar-wrapper {
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
    margin-left: -15px;
    margin-right: -15px;
  }
    
  .nav-bar,
  .nav-list {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-list {
    > .nav-item {
      align-items: center;
      align-self: stretch;
      border-right: 3px solid transparent;
      display: inline-flex;
      font-size: 1rem;
      margin-right: 1px;
      position: relative;
      transition: border-color 0.3s;

      .nav-link {
        color: theme-color(primary-text);
        display: inline-block;
        font-weight: 400;
        padding: 0.5rem 0.25rem;
        width: 100%;

        & > .anticon {
          margin-right: 0.125rem;
        }
      }

      &:hover,
      &.active,
      &:hover > .nav-link,
      &.active > .nav-link {
        background-color: lighten(theme-color(primary-hover), 30%);
        border-color: theme-color(primary);
        color: theme-color(primary);
      }
    }
  }
}



@include respond-above(lg) {
  .nav-menu-expand {
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 1rem;

    .navigation-toggler {
      display: none;
    }

    .nav-bar-wrapper {
      align-items: stretch;
      display: flex !important;
      flex-basis: auto;
      margin: 0;
    }

    .nav-bar,
    .nav-list {
      align-items: stretch;
      flex-direction: row;
    }

    .nav-list {
      flex-basis: auto;

      &.left {
        flex-grow: 0;
        justify-content: flex-start;
        margin-right: auto;
      }

      &.center {
        justify-content: center;
        margin: 0 auto;
      }

      &.right {
        flex-grow: 0;
        justify-content: flex-end;
        margin-left: auto;
      }
    }

    .nav-list {
      > .nav-item {
        align-self: stretch;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        margin-bottom: -2px;
        margin-top: 4px;
        padding: 0 0.5rem;

        &:hover,
        &.active,
        &:hover > .nav-link,
        &.active > .nav-link {
          background-color: transparent;
        }
      }

    }
        
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0%);
}

.fade-exit {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-100%);
}
