
.partner-card {

    .ant-image {
        margin: 0 auto;
        img.partner-logo {
            width: 100%;
            max-height: 300px;
            object-fit: contain;
            margin: 0 auto;
        }
    }
    
}