
.single {
  .type,
  .contact-title,
  .ant-descriptions-item-label {
    font-weight: 600;
  }

  .header {
    
    padding: 1rem 0;

    @include respond-above(sm) {
      background-image: url('/resources/patterns/tech_pattern.png');
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: contain;
    }

    img.banner {
      border-radius: theme-structure(border-radius);
      margin-bottom: 5%;
      max-height: 300px;
      object-fit: cover;
      object-position: center bottom;
      width: calc(100%);
    }

    .logo-wrapper {
      background-color: theme-color(light);

      img.logo {
        border: 2px solid style-color(border-light);
        border-radius: theme-structure(border-radius);
        min-height: 160px;
        object-fit: contain;
        padding: 10px;
        width: 100%;
      }
    }

    .title-wrapper {
      align-self: center;
      padding: 0 0.5rem;

      @include respond-below(sm) {
        .title {
          font-size: 1.5rem;
        }

        .type {
          font-size: 1rem;
        }
      }

      .type {
        margin-bottom: 1.5rem;
      }

      .title {
        word-break: break-all;
      }
    }

    .action-section {
      align-self: center;
      padding: 1.5rem 0;
      text-align: center;
    }

  }

  .info-section {
    padding: 1rem 0;
  }

  .context {
    > div {
      border-bottom: 1px solid style-color(border-light);
      padding: 0.5rem 0;
    }

    .contact {
      text-align: center;
    }
  }

  .sider-info {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .grades {  
      .grade:not(:last-of-type) {
        &::after {
          content: ', ';
          white-space: pre;
        }
      }
    }
  }
    
}

@include respond-above(sm) {
  .context {
    padding: 1rem 0.5rem;
  }

  .sider-info,
  .action-section {
    padding: 0.5rem;
  }

  .sider-info {
    @include shadow-box-light();
    border: 1px solid style-color(border-light);
    border-radius: theme-structure(border-radius);
  }
}
