html,
body,
#root,
#App {
  padding: 0;
  margin: 0;
}

html,
#root,
#App,
#page,
.main-content,
.admin-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

// App
#App {
  position: relative;
  top: 0;
  left: 0;
  float: left;

  &.sidebar-open {
    @include respond-above(lg) {
      transition: all 0.4s ease-in;
      width: calc(100% - 260px);
      left: 260px;
    }
  }
}

// Main-content
.main-content {
}

// Admin-content
.admin-content {
  padding: 2rem 1rem;

  @include respond-below(sm) {
    padding: 0;
    .container {
      padding: 0;
      margin: 0;
    }
  }
}
