$theme-colors: (
  'primary': #1890ff,
  'primary-light': #69c0ff,
  'primary-dark': #096dd9,
  'primary-hover': #40a9ff,
  'primary-text': #222,
  'secondary': #001529,
  'success': #4caf50,
  'warning': #fdd835,
  'danger': #e53935,
  'dark': #001529,
  'light': #fff,
  'gray': #f0f2f5,
  'muted': lighten(#222, 30),
  'text-primary': #222,
  'text-light': #fff,
);

@function theme-color($color) {
  @return map-get($theme-colors, $color);
}

$theme-structure: (
  'border-radius': 4px,
);

@function theme-structure($key) {
  @return map-get($theme-structure, $key);
}

$style-colors: (
  'border-light': #e3e3e3,
  'light-muted': darken(theme-color(text-light), 15%)
);

@function style-color($color) {
  @return map-get($style-colors, $color);
}
